.container {
    margin-inline: 3rem;
}

.username {
    text-align: end;
    margin-bottom: 0;
}

.username img {
    background-color: black;
    border-radius: 50%;
    padding: 0.5rem;
    vertical-align: middle;
    margin-left: 0.2rem;
}

.hide {
    display: none;
}

.show {
    position: absolute;
    display: block;
    width: fit-content;
    margin-top: 5px;
    margin-left: 88%;
    padding: 0.5rem;
    text-align: end;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

.show:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.636);
}

.h1 {
    text-align: center;
    margin-top: 2rem;
}